main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
