{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieMi</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block css %}
    {% endblock css %}
  </head>
  <body classNm="bg-black">
    <header>
      <nav>
        <div class="logo">
          <a href="{% url 'migration-form' %}"><img src="{% static 'icon/icon.png' %}" alt="MovieMi" /></a>
        </div>
        <div class="menu"> 
          <a href="{% url 'migration-form' %}" id="add-movie">Adicionar Arquivos</a>
          <a href="{% url 'file-info' %}" >Migrações</a>
          <a href="{% url 'titles-list' %}" >Filmes</a>
        </div>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
